#metro {
    text-align:center;
    color:blue;
    border-radius:100px;
    font-family:cursive;
    
}
.blue {
 background-color:#ff00ff;
 padding:40px;
 margin-top:10em;
 border:2px solid black;
 margin:20px;
}
.blue1 {
 background-color:#ffff00;
 padding:80px;
 border:2px solid black;
    
}
.111 {
 color:white;   

}
